@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-dark-blue: #002b51;
  --brand-blue: #005596;
  --brand-yellow: #ffce00;
  --brand-white: #fffafe;
  --brand-grey: #f1f1f1;
}
* {
  transition: all 200ms ease-out;
}
body {
  background-color: #fffafe;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
